<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Blake Conrad">

    <title>DeepWisdom - Bible Data Analytics Platform</title>

    {% load static %}
    <!-- Bootstrap core CSS-->
    <link href="{% static 'deepwisdom/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'deepwisdom/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'deepwisdom/vendor/datatables/dataTables.bootstrap4.css'  %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'deepwisdom/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Social media connections -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .contactTable{
      position: fixed !important;
    }
    </style>

  </head>

  <body id="page-top">


    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="../deepwisdom/">DeepWisdom</a>

      <!-- COLLAPSE BUTTON -->
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- DROPDOWN MENU OF REGISTRATION OPTIONS -->
      <div class="dropdown">
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu
        </button>
        <!-- USER REGISTER BUTTON -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item btn btn-default btn-rounded mb-4" href="#" data-toggle="modal" data-target="#modalRegisterForm">Register</a>
          <a class="dropdown-item btn-default btn-rounded mb-4" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a>
          <!-- USER LOGIN BUTTON -->
        </div>
      </div>

      <!-- USER LOG IN MODAL -->
      <form id="loginForm" class="" method="post" action=".">
          <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="email" id="defaultForm-email" class="form-control validate" name="email">
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                  <i class="fas fa-lock prefix grey-text"></i>
                  <input type="password" id="defaultForm-pass" class="form-control validate" name="password">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button id="signInButton" class="btn btn-default" type="submit">Login</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    <!-- USER REGISTER -->
    <form id="registrationForm" class="" method="post" action=".">
        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
              <button class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate" name="name">
                <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
              </div>
              <div class="md-form mb-5">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control validate" name="email">
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control validate" name="password">
                <label data-error="wrong" data-success="right" for="orangeForm-pass">password</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-deep-orange" type="submit">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </form>


      <!-- Navbar -->
      <!--
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
    -->
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="../deepwisdom/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
      -->
        <li class="nav-item">
          <a class="nav-link" href="charts/">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Explore</span></a>
        </li>
      </ul>

      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>

          <!-- Icon Cards-->
          <div>
            <img src="{% static 'deepwisdom/img/logo.png' %}" style="max-width: 100%;">
            <hr>
            <blockquote>
              <span>&#39;&#39;</span><em>Wisdom is the principal thing; therefore get wisdom: and with all thy getting get understanding.</em><span>&#39;&#39;</span>
              <br>
              <right><em>-Proverbs 4:7</em></right>
             </blockquote>
            <h2>About</h2>
            <p>In short, <em>DeepWisdom</em> is a platform that augments your understanding of the bible. The conversion of knowledge to understanding has perplexed biblical scholars, philosophers, mathematicians, and psychologists for centuries. Here at <em>DeepWisdom</em>, we seek to bridge this gap. From modern Deep Learning synthesized with ancient wisdom found in scripture, we integrate analytics to find deep connections for you.</p>

             <h2>Objective</h2>
             <p>
             The goal of <em>DeepWisdom</em> is two-fold. First, to truly connect the dots for you within scripture; from characters, to parables and stories, to psalms, proverbs and statements. Second, offer a globally accessible platform that effectively equipts all in their personal pursuit of wisdom.</p>

             <h2>Connect</h2>
             <p>
              We are passionate about learning with you. As we come together, we are able to accomplish so much more. Connect with us on any of our social outlets, we would love to hear from you.
             </p>
            <!--Facebook-->
            <br>
            <button type="button" class="btn btn-fb btn-primary"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw btn-info"><i class="fab fa-twitter pr-1"></i> Twitter</button>
            <!--Instagram-->
            <button type="button" class="btn btn-ins btn-secondary"><i class="fab fa-instagram pr-1"></i> Instagram</button>
            <!--Youtube-->
            <button type="button" class="btn btn-yt btn-danger"><i class="fab fa-youtube pr-1"></i> Youtube</button>
            <!--Email-->
            <button type="button" class="btn btn-email btn-dark" ><i class="fas fa-envelope pr-1"></i> <a href="mailto:blake.cs.ml@gmail.com" style="text-decoration: none; background-color: none;color:white;">Email</a></button>

             <div class="contactTable">
            <h2>Contact Roster</h2>
             <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last</th>
                    <th scope="col">Roll</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Blake</td>
                    <td>Conrad</td>
                    <td>(CEO) - Lead NLP/ML/AI Engineer</td>
                    <td>blake.cs.ml@gmail.com</td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>DeepWisdom©,LLC 2018 All Rights Reserved</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'deepwisdom/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'deepwisdom/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'deepwisdom/js/sb-admin.min.js' %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static 'deepwisdom/js/demo/datatables-demo.js' %}" ></script>
    <script src="{% static 'deepwisdom/js/demo/chart-area-demo.js' %}"></script>

  </body>

</html>
